.headerContainer {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background: #343432;
  

}

.headerTitle {
  color: #f5d547;
  font-size: 3rem;
}

.headerImage {
  width: 40%;
}

@media (max-width: 765px) {
  .headerImage {
    width: 100%;
  }
}
