.menuContainer {
  background: #3c3c3b;
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 99;
  
}

.menuItem {
  list-style: none;
}

.menuLink {
  text-decoration: none;
  font-size: 1.5rem;
  color: #f5d547;
}

@media (max-with: 765px) {
  .menuContainer {
    flex-direction: column;
    gap: 2rem;
  }
}
